/*-------------------------------------------------------------layout---------------------------------------------*/
*{
    box-sizing: border-box;
    
}
body{
    margin: 1rem 0rem;
}
.profile , .AOW , .EXP , .Cont , .Education , .Skill{
    margin-left: 5rem;
 }
/*layout HEAD*/
.img-name{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 0 4rem;
   
}
.omg {
    flex: 30%;
   margin: 1rem;
}
.name{
    flex: 70%;
}
    

/*layout MID*/
.mid{
    
    display: flex;
    flex-direction: row;
}
.flex-mid{
    flex: 50%;
   
}
/*layout FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
}
.flex-footer{
    flex:30%;
    
}
@media screen and (min-width: 300px) and (max-width: 1200px) 
   { 
      .img-name{
        flex-direction: column;
      }
}
@media screen and (max-width: 600px) 
   { 
     .mid , .footer{
        flex-direction: column;
      }
}
@media screen and (min-width: 600px) and (max-width: 800px) 
   { 
      .footer{
        flex-direction: column;
      }
}
/*?-------------------------------------------------------------style---------------------------------------------*/
*{
    font-family: "Courier New", Courier, monospace;
   
    color: #FAF3E0;
    
   
}
body{
   
    background-color: #95959b;
    
    
}
.container{
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #1E212D;
}
hr {
    border: 2px solid #FAF3E0;
    background-color: #FAF3E0;
    margin: 1rem 5rem;
    overflow: hidden;
}

a{
    text-decoration: none;
}
a:link{
    color: #B68973;
}
a:visited{
    color: #B68973;
}
a:hover{
    position: relative;
    top: -0.3rem;
    left:0.3rem;
    
    color: #EABF9F;
    text-shadow: #FC0 1px 0 10px;
 
}
a:active{
    color: beige;
    
}
.icon{  
    display: flex;
    flex-direction: column;
    position: fixed;
    
    margin: 4rem 0;
    color: #ffffff;
}
.icon a {
    color: #ffffff;
    margin: 0.5rem 1rem;
}
.fab:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 10px;
    
}
b , h1{
    color: #FFF5DA;
}
